<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Your beans and configurations go here -->
    <bean name = "customer" class = "org.example.Customer">
        <property name = "name">
            <value> A.Gowtham Reddy </value>
        </property>
        <property name = "contact">
            <value>025151</value>
        </property>
        <property name = "address">
            <value>Nellore</value>
        </property>
    </bean>
</beans>